{#
/**
 * @file
 * Default implementation for an Ambient.Impact Component item.
 *
 * Available variables:
 * - description: The Component's description. Note that this is expected to
 *   have been parsed into a DOM and then rendered again, which automatically
 *   wraps standalone text nodes in <p> elements so we don't need to do that.
 * - demoLink: The Component's demo link, if it provides a demo.
 * - definition: A render array containing this Component's Drupal plug-in
 *   definition array.
 * - configuration: A render array containing this Component's plug-in
 *   configration array.
 * - libraries: A render array containing this Component's libraries array.
 *
 * @see \Drupal\ambientimpact_web_components\Controller\ComponentItemController::componentItem()
 *   Used in this method.
 */
#}

{% set baseClass = 'ambientimpact-component-item' %}

<div{{ create_attribute({'class': [baseClass]}) }}>
  {{ description }}

  {% if demoLink %}
    <span{{ create_attribute({
      'class': [baseClass ~ '__demo-link']
    }) }}>{{ demoLink }}</span>
  {% endif %}

  {{ definition }}

  {{ configuration }}

  {{ libraries }}
</div>
