{#
/**
 * @file
 * Default implementation for the Ambient.Impact Component list.
 *
 * Available variables:
 * - list: A render array containing the list of Components.
 *
 * @see \Drupal\ambientimpact_web_components\Controller\ComponentListController::componentList()
 *   Used in this method.
 */
#}

{% set baseClass = 'ambientimpact-component-list' %}

{% set list = list|merge_recursive({
  '#wrapper_attributes': {'class': [baseClass ~ '__items']},
  '#attributes':         {'class': [baseClass ~ '__items-list']}
}) %}

<div{{ create_attribute({'class': [baseClass]}) }}>
  {# These have to be rendered here because trying to render them in the
     {% trans %} blocks won't work.

     @see https://getlevelten.com/blog/mark-carver/drupal-8-twig-templates-and-translations
  #}
  {% set github = link(
    ambientimpact_icon('github', 'brands', 'GitHub'),
    'https://github.com/Ambient-Impact/drupal-modules'
  )|render %}
  {% set gitlab = link(
    ambientimpact_icon('gitlab', 'brands', 'GitLab'),
    'https://gitlab.com/Ambient.Impact/drupal-modules'
  )|render %}

  <p{{ create_attribute({'class': [baseClass ~ '__intro']}) }}>{% trans %}This lists all discovered component plug-ins across all enabled modules. Information about the component system and the source for each component can be found on {{ github }} and {{ gitlab }}.{% endtrans %}</p>

  {{ list }}
</div>
