{#
/**
 * @file
 * Default theme implementation for 'web_snippets_links' #theme element.
 *
 * Available variables
 * - items: An array of items, keyed by a machine name; each item contains:
 *   - link_attributes: An Attribute() object for the item's link.
 *   - content: The item's renderable content to be placed in the item's link.
 *
 * @see \Drupal\ambientimpact_web\EventSubscriber\Preprocess\ViewPreprocessWebSnippetsLinks::preprocessView()
 *   Uses this theme element.
 *
 * @ingroup themeable
 */
#}
{% set baseClass = 'view-web-snippets__links' %}

<div{{ create_attribute({'class': [baseClass]}) }}>
  <h2{{ create_attribute({'class': [
    baseClass ~ '-heading',
    'visually-hidden'
  ]}) }}>{{
    'Web snippet links'|trans
  }}</h2>

  <ul{{ create_attribute({'class': [
    baseClass ~ '-list',
    'links',
    'inline'
  ]}) }}>
    {%- for key, item in items -%}
      <li{{ create_attribute({'class': [
        baseClass ~ '-list-item',
        baseClass ~ '-list-item--' ~ key
      ]}) }}>
        {{ link(
          item.content,
          item.linkURL,
          item.link_attributes.addClass(baseClass ~ '-list-item-link')
        ) }}
      </li>
    {%- endfor -%}
  </ul>
</div>
